@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    border-bottom: 1.5px solid #2a2e69;
    width: 100%;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo img {
    height: 100px;
    left: 5px;
}

.logo h1 {
    font-size: 25px;
    font-weight: 500;
    color: #161C84;

}

.links {
    width: 80%;
    height: 100%;
    display: flex;
}

.links ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;

}

.links a {
    text-decoration: none;
    color: #161C84;
    cursor: pointer;
    font-weight: 500;
}

.links a:hover {
    border-bottom: 1.5px solid #60B5FF;

}

/* FIM NAVBAR */

.home {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.text {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 100px;
    margin-bottom: 30px;
}

.text h1 {
    color: #161C84;
    background-color: #eff8ff;
    border-radius: 7px;
    padding-left: 20px;
    width: 430px;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.text p {
    color: #161C84;
    font-weight: 500;
    font-size: 20px;
}

#p2 {
    border-right: 4px solid;
    width: 44ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(44), blinking 0.5s infinite step-end alternate;
}

@keyframes typing {
    0% {
        width: 0;
    }
}

@keyframes blinking {
    50% {
        border-color: transparent;
    }
}


.banner img {
    height: 500px;
    margin-bottom: 30px;
    margin-right: 50px;

}

.text .btn button {
    background-color: #60B5FF;
    width: 160px;
    height: 35px;
    border-radius: 5px;
    margin-top: 25px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 50px;
}

#botao1 {
    margin-right: 20px;
}

.text .btn button:hover {
    background-color: #afe1fc;
}

/* FIM HOME */

.projeto{
    height: 100vh;
    width: 100%;
    background-image: url(assets/img/teste.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.informacoes {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 60px;
}

.projeto .text {
    width: 530px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: justify;
    background-color: white;
    margin-left: 30px;
}

.projeto hr {
    background-color: #60B5FF;
    width: 300px;
    height: 4px;
}

.projeto .text h2 {
    margin-top: 30px;
    color: #161C84;
}

.projeto .text p {
    font-size: 18px;
    margin-bottom: 30px;
}

.projetoImg img{
    height: 400px;
    margin-bottom: 30px;
}

/* Fim Sobre o projeto */