@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    border-bottom: 1.5px solid #2a2e69;
    width: 100%;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo img {
    height: 100px;
    left: 5px;
}

.logo h1 {
    font-size: 25px;
    font-weight: 500;
    color: #161C84;

}

.links {
    width: 80%;
    height: 100%;
    display: flex;
}

.links ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;

}

.links a {
    text-decoration: none;
    color: #161C84;
    cursor: pointer;
    font-weight: 500;
}

.links a:hover {
    border-bottom: 1.5px solid #60B5FF;

}

/* FIM NAVBAR */

.home {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.text {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 100px;
    margin-bottom: 30px;
}

.text h1 {
    color: #161C84;
    background-color: #eff8ff;
    border-radius: 7px;
    padding-left: 20px;
    width: 430px;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.text p {
    color: #161C84;
    font-weight: 500;
    font-size: 20px;
}

#p2 {
    border-right: 4px solid;
    width: 44ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(44), blinking 0.5s infinite step-end alternate;
}

@keyframes typing {
    0% {
        width: 0;
    }
}

@keyframes blinking {
    50% {
        border-color: transparent;
    }
}


.banner img {
    height: 500px;
    margin-bottom: 30px;
    margin-right: 50px;

}

.text .btn button {
    background-color: #60B5FF;
    width: 160px;
    height: 35px;
    border-radius: 5px;
    margin-top: 25px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 50px;
}

#botao1 {
    margin-right: 20px;
}

.text .btn button:hover {
    background-color: #afe1fc;
}

/* FIM HOME */

.projeto {
    height: 100vh;
    width: 100%;
    background-image: url(assets/img/BackgroundProjeto.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.informacoes {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 60px;
}

.projeto .text {
    width: 530px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: justify;
    background-color: white;
    margin-left: 30px;
}

.projeto hr {
    background-color: #60B5FF;
    width: 300px;
    height: 4px;
}

.projeto .text h2 {
    margin-top: 30px;
    color: #161C84;
}

.projeto .text {
    margin-right: 20px;
}

.projeto .text p {
    font-size: 18px;
    margin-bottom: 30px;
}

.projetoImg img {
    height: 400px;
    margin-bottom: 30px;
}

/* FIM PROJETO */

#linha {
    background-color: white;
    width: 100%;
    height: 5px;
}

.mvv {
    height: 100vh;
    width: 100%;
    background-image: url(assets/img/FundoMVV.png);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #BDE0FF;
    width: 23%;
    height: 60%;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;

}

.card02 {
    background-color: #60B5FF;
    cursor: pointer;
}

.card:hover {
    width: 25%;
    height: 64%;
}

.img-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    position: absolute;
    width: 260px;
    height: 50%;
    top: 80rem;
}

.img-box img {
    height: 40%;
    object-fit: cover;
    top: -100px;
    transition: 0.3s;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.card:hover .img-box img {
    height: 45%;

}

.textMVV {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textMVV h1 {
    color: #161C84;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
}

.textMVV hr {
    background-color: #60B5FF;
    width: 200px;
    height: 4px;
    margin-bottom: 30px;
}

.textMVV p {
    color: #161C84;
}

.card02 .textMVV hr {
    background-color: #BDE0FF;
    width: 200px;
    height: 4px;
    margin-bottom: 30px;
}

/* FIM MISSÃO, VISÃO, VALORES */

/* Sobre mim */
.fundador {
    height: 100vh;
    width: 100%;
    background-image: url(assets/img/BackgroundFundador.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.container-fundador {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fundador .text {
    width: 530px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: justify;
    background-color: #BDE0FF;
    margin-left: 150px;
}

.fundador .text h4 {
    margin-left: 40px;
    margin-right: 50px;
    color: #161C84;
}

.sobre-mim {
    width: 20%;
    height: 60%;
    display: flex;
    flex-direction: row;
}

.sobre-mim img {
    position: absolute;
    height: 360px;
    left: 670px;
    top: 123rem;
    transition: 0.4s;
}

.sobre-mim img:hover {
    height: 380px;
    top: 122rem;
}

.redes-sociais .btn {
    height: 300px;
    width: 200px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.redes-sociais .btn button {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    width: 180px;
    height: 35px;
    border-radius: 5px;
    margin-top: 15px;
    font-weight: 500;
    transition: 0.4s;
    color: white;
    background-color: #60B5FF;

}

.redes-sociais .btn button:hover {
    background-color: #BDE0FF
}

#bt3 {
    margin-bottom: 10px;
}

#bt3 img {
    margin-right: 25px;

}

.redes-sociais .btn img {
    height: 20px;
    margin-left: 20px;
    margin-right: 35px;
}

.redes-sociais .btn a {
    text-decoration: none;
    color: #161C84;
    cursor: pointer;
    font-weight: 500;
}

/* Fotos minhas */
.minhasFotos {
    height: 100vh;
    width: 100%;
    background-image: url(assets/img/fundo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fotos {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.fotos {
    height: 40%;
    width: 50%;
    background-color: white;
}

.fotos1 {
    height: 40%;
    width: 50%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.233);
    transition: 0.4s;
    margin-left: 7rem;
    margin-top: 15px;
    background-image: url(assets/img/img01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
   
}

.fotos:hover {
    height: 43%;
    width: 53%;
}

.fotos2 {
    height: 40%;
    width: 50%;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.233);
    transition: 0.4s;
    margin-left: 7rem;
    background-image: url(assets/img/img04.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}

.fotos3 {
    height: 40%;
    width: 50%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.233);
    transition: 0.4s;
    margin-right: 7rem;
    margin-top: 15px;
    background-image: url(assets/img/img02.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
   
}

.fotos4 {
    height: 40%;
    width: 50%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.233);
    transition: 0.4s;
    margin-right: 7rem;
    background-image: url(assets/img/img03.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    
}

#p1 {
    margin-left: 7rem;
    color: #161C84;
}

#pp2 {
    margin-right: 7rem;
    color: #161C84;
}
